<style>
    h1{
        color: palevioletred;
        text-align: center;
    }
    p{
        color: gray;
        text-align: center;
    }
</style>

<h1> Name: {{ name }} </h1>
<p> Awesomeness level: {{ awesomeness}} </p>
<p> Price: {{ price }} </p>